{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='/js/home.js') }}" defer></script>

</script>
{% endblock %}

{% block content %}
<section id="body">
  <img src="{{ url_for('static', filename='/assets/fall.jpg')}}" alt="Trees changing colors in front of a mountaintop.">
  <h3>Fall Events</h3>
  <button type="button" id="start-add-event">Add Event</button>
  <form class="invisible" action="/add-event" method="POST" id="add-event-form">
    <input type="text" name="title" placeholder="Event Title">
    <input type="text" name="description" placeholder="Description">
    <input type="date" name="date" placeholder="Date format mm-dd-YYYY">
    <input type="time" name="time" placeholder="Time format HH:MM">
    <input type="submit" name="submit" value="Add">
  </form>
  <div class="events">
    <a href="{{ url_for('main.rsvp_guest') }}" id="event-title-link"></a>
    <form class="wrapper" action="/delete-event/eventid" method="POST">
      <button type="submit" name="delete-event-btn">Delete</button>
    </form>
    <button type="button" id="start-edit-event">Edit</button>

    <div class="invisible" id="edit-event-form">
      <form class="wrapper" action="/edit-event/eventid" method="POST">
        <input type="text" name="title" value="">
        <input type="text" name="description" value="">
        <input type="date" name="date" value="">
        <input type="time" name="time" value="">
        <button type="submit">Update</button>
      </form>
    </div>
  </div>
  <h4>No events coming up!</h4>
</section>
{% endblock %}
